/* line 6, ../scss/styles.scss */
.wrapper {
  margin: 0 auto;
  width: 80%;
}

/* line 12, ../scss/styles.scss */
h1 {
  text-align: center;
  font-size: 3em;
}

/* line 17, ../scss/styles.scss */
nav {
  display: block;
  text-align: center;
}

/* line 22, ../scss/styles.scss */
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}
/* line 26, ../scss/styles.scss */
nav ul li a {
  color: rgba(2, 166, 118, 0.8);
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
}

/* line 36, ../scss/styles.scss */
.mejs-corgi {
  display: block;
  margin: auto auto;
  /*Button Implementation*/
}
/* line 40, ../scss/styles.scss */
.mejs-corgi .mejs-controls {
  background: rgba(2, 166, 118, 0.8);
}
/* line 44, ../scss/styles.scss */
.mejs-corgi .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: white;
}
/* line 48, ../scss/styles.scss */
.mejs-corgi div.mejs-time-rail {
  width: 200px;
}
/* line 52, ../scss/styles.scss */
.mejs-corgi .mejs-time-rail .mejs-time-total {
  width: 100px;
}
/* line 58, ../scss/styles.scss */
.mejs-corgi .mejs-button button {
  background: transparent url(../assets/controls.png) no-repeat;
}
/* line 62, ../scss/styles.scss */
.mejs-corgi .mejs-pause button {
  background-position: 0 -16px;
}
/* line 66, ../scss/styles.scss */
.mejs-corgi .mejs-mute button {
  background-position: -16px -16px;
}
/* line 70, ../scss/styles.scss */
.mejs-corgi .mejs-fullscreen-button button {
  background-position: -32px 0;
}

/* line 79, ../scss/styles.scss */
.mejs-overlay-loading {
  display: none;
}

/*Media Queries */
@media (max-width: 600px) {
  /* line 93, ../scss/styles.scss */
  video {
    max-width: 100%;
  }
}
