/* line 6, ../scss/styles.scss */
.wrapper {
  margin: 0 auto;
  width: 80%;
}

/* line 12, ../scss/styles.scss */
h1 {
  text-align: center;
  font-size: 3em;
}

/* line 17, ../scss/styles.scss */
nav {
  display: block;
  text-align: center;
}

/* line 22, ../scss/styles.scss */
nav ul li {
  list-style: none;
  display: inline-block;
}
/* line 26, ../scss/styles.scss */
nav ul li a {
  color: #0a2930;
  text-decoration: none;
}

/* line 34, ../scss/styles.scss */
.mejs-corgi {
  display: block;
  margin: auto auto;
  /*Button Implementation*/
}
/* line 38, ../scss/styles.scss */
.mejs-corgi .mejs-controls {
  background: rgba(2, 166, 118, 0.8);
}
/* line 42, ../scss/styles.scss */
.mejs-corgi .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: white;
}
/* line 46, ../scss/styles.scss */
.mejs-corgi div.mejs-time-rail {
  width: 200px;
}
/* line 50, ../scss/styles.scss */
.mejs-corgi .mejs-time-rail .mejs-time-total {
  width: 100px;
}
/* line 56, ../scss/styles.scss */
.mejs-corgi .mejs-button button {
  background: transparent url(../assets/controls.png) no-repeat;
}
/* line 60, ../scss/styles.scss */
.mejs-corgi .mejs-pause button {
  background-position: 0 -16px;
}
/* line 64, ../scss/styles.scss */
.mejs-corgi .mejs-mute button {
  background-position: -16px -16px;
}
/* line 68, ../scss/styles.scss */
.mejs-corgi .mejs-fullscreen-button button {
  background-position: -32px 0;
}

/* line 77, ../scss/styles.scss */
.mejs-overlay-loading {
  display: none;
}

/*Media Queries */
@media (max-width: 600px) {
  /* line 91, ../scss/styles.scss */
  video {
    max-width: 100%;
  }
}
