$main: rgba(2,166,118,0.8);
$accent: #005A5B;
$accent2: #0A2930;
$accent3: #B64926;

.wrapper{
	margin:0 auto ;
	background: blue;
}

h1{
	text-align: center;
	font-size: 3em;

}

nav ul li{
	list-style: none;
}

.mejs-corgi{
	display:block;
	margin:auto auto;
}



/*Media Queries */

@media (max-width: 600px) {
 video{
 	max-width: 100%;
 }
}
</style>